# Python requirements list
anyjson

flask
flask-sqlalchemy
flask-babel
flask-assets
flask-cache
flask-wtf
flask-mail
flask-and-redis

celery
requests
pygeoip
jsmin
cssmin
alembic
translate
python-slugify