<object height="344" width="434">
	<param name="allowfullscreen" value="true">
	<param name="AllowScriptAccess" value="always">
	<param name="movie" value="http://embed.redtube.com/player/"><param name="FlashVars" value="id={{ video.remote_id }}&amp;style=redtube&amp;autostart=false">
	<embed src="http://embed.redtube.com/player/?id={{ video.remote_id }}&amp;style=redtube" allowfullscreen="true" AllowScriptAccess="always" flashvars="autostart=false" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" height="510" width="630" />
</object>
