{% extends "base.html" %}

{% block subtitle %}{{ _(" %(title)s video", title=video.title.capitalize() ) }}{% endblock %}

{% block content %}

<div class="placeholder">
	{% if video.masturbator == "redtube" %}
		{% include "embedding/redtube.html" %}
	{% endif %}
</div>

<div class="information">

	<div class="group">
		<div class="title">{{ _("Posted under categories") }}</div>
	
		{% for tag in video.tags.all() %}
			<div class="videotag">
				<a href="{{ url_for("catalog.tag", id=tag.id, slug=tag.slug) }}">{{ _(tag.name).title() }}</a>
			</div>
		{% endfor %}
	</div>


	{% if video.stars.count() > 0 %}
		<div class="group">
			<div class="title">{{ _("Starring") }}</div>
		
			{% for star in video.stars.all() %}
				<div class="videotag">
					<a href="{{ url_for("catalog.star", id=star.id, slug=star.slug) }}">{{ _(star.name).title() }}</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	<div class="group">
		<div class="title">{{ _("Video information") }}</div>
		<div class="fussed">
			<strong>{{ _("Source: ") }}</strong> <a rel="nofollow" target="_blank" href="{{ video.remote_url }}">{{ video.masturbator.title() }}</a> <br>
			<strong>{{ _("Duration: ") }}</strong>  {{ video.duration_formated }} <br>
			<strong>{{ _("Addition date: ") }}</strong> {{ video.import_date.strftime("%Y-%m-%d") }}
		</div>
	</div>

	<div class="group">
		<div class="title">{{ _("Actions") }}</div>

		<a class="button" href="javascript:report_video_not_playing({{ video.id }});">{{ _("Report video not playing") }}</a>
		<a class="button" target="_blank" href="{{ url_for("catalog.page", slug="contact_us", topic=2) }}">{{ _("Report abusive content") }}</a>
		<a class="button" target="_blank" href="{{ url_for("catalog.page", slug="contact_us", topic=3) }}">{{ _("Report copyright infringement") }}</a>
	</div>
</div>

<div class="clear"></div>

{% endblock %}