{% extends "base.html" %}

{% from "macros.html" import render_pagination %}

{% block title %}{{ description + _(" at mylust.xxx") }}{% endblock %}

{% if tag %}
	{% set subtitle = _("Videos under category %(category)s", category=_(tag.name).title()) %}
	{% set pagination = render_pagination(page, "catalog.tag", id=tag.id, slug=tag.slug) %}
{% elif star %}
	{% set subtitle = _("Videos starring %(name)s", name=star.name.title()) %}
	{% set pagination = render_pagination(page, "catalog.star", id=star.id, slug=star.slug) %}
{% elif search_term %}
	{% set subtitle = _("Search results for query \"%(query)s\"", query=search_term) %}
	{% set pagination = render_pagination(page, "catalog.search", what=search_term) %}
{% endif %}

{% block subtitle %}{{ subtitle }}{% endblock %}

{% block content %}

	{{ pagination }}

	{% if page.total == 0 %}
		<div class="search_empty">
			{{ _("We found no videos matching your query, change it and try one more time") }}
		</dir>
	{% endif %}

	<ul class="videos">

		{% for video in page.items %}
			<li class="video">
				<a href="{{ url_for("catalog.video", id=video.id, slug=video.slug) }}">
					{% set images = video.thumbs.all() %}

					<img class="thumb" src="{{ url_for("static", filename="img/blank.gif") }}" data-src="{{ images.pop(0).url }}" data-slides="{% for image in images %}{{ image.url }}|{% endfor %}" alt="{{ translate_video_title(video.title).capitalize() }}">
					<div class="name" title="{{ translate_video_title(video.title).capitalize() }}">{{ translate_video_title(video.title).capitalize() }}</div>

					<div class="details">
						{{ _("from %(masturbator)s", masturbator=video.masturbator.title()) }} &#8226; {{ video.duration_formated }}
					</div>
				</a>
			</li>
		{% endfor %}
	</ul>

	<div class="clear"></div>

	{{ pagination }}

{% endblock %}